*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: inherit;
}

:root{
    --deep-red: #510414;
    --bright-red: #990E0E;
    --shadow-red: #35010c;
    --soft-gold: #D5B88F;
    --soft-grey: #F0F0F0;
    --pure-white: #FFFFFF;
    --medium-black: #070707;
}

html{
    color-scheme: dark light;
    background-color: var(--medium-black); /* Don't change, keep values to maintain dark ui*/
}

body{
    min-height: 100svh;
    max-width: 100svw;
}

#openingSection{
    width: 100svw;
    height: 115svh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    top: 0%;
    background-color: var(--pure-white);
}

#openingSection::before{
    content: "";
    max-width: 100svw;
    max-height: 100svh;
    position: absolute;
    background-image: url(Assets/svg/backgroundTexture.svg);
    background-repeat: repeat;
    background-size: 50svw;
    opacity: 0.8;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#openingSection::after{
    content: "";
    max-width: 100svw;
    max-height: 100svh;
    position: absolute;
    background-image: radial-gradient(100% 66% at 50% 44%, transparent 40%, white 90%);;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#bgrArch{
    width: 100svw;
    height: 100svh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    overflow: hidden;
}

#bgrArch::before{
    content: "";
    width: 80svw;
    height: 94svh;
    position: absolute;
    z-index: 50;
    justify-self: center;
    border-radius: 1000px 1000px 0px 0px;
    background-color: rgba(0, 0, 0, 1);
    opacity: 0.6;
    bottom: 0%;

    animation: ArchShadow 1s ease-out forwards 4s;
}

@keyframes ArchShadow {
    0%{
        opacity: 0.6;
    }
    100%{
        opacity: 0.4;
    }
}

#bgrArch::after{
    content: "";
    width: 100svw;
    height: auto;
    z-index: 100;
    position: relative;
    background: url(Assets/svg/archGraphic.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-left: 10svw; margin-right: 10svw; margin-top: 6svh;
    filter: brightness(2.2);
}

#wallEmblem{
    width: 45svw;
    height: 45svw;
    position: absolute;
    z-index: -0;
    top: 15svh;
    background-image: url(Assets/svg/wallEmblem.svg);
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(0px -3px 0.5px rgba(0,0,0,0.2));
}

#bgrBranches{
    width: 100svw;
    height: 100svh;
    position: absolute;
    z-index: 100;
    overflow: hidden;
}

.branch{
    width: 85svw;
    height: auto;
    position: absolute;
    aspect-ratio: 1/1;
}

#upperBranch{
    top: 1svh;
    left: -6svw;
    transform-origin: bottom left;
    transform: rotate(0deg);

    animation: branchWindUp 4s ease-in-out alternate infinite;
}

@keyframes branchWindUp {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(2deg);
    }
}

#upperBranch > object{
    color-scheme: normal;
    object-fit: contain;
}

#lowerBranch{
    bottom: -3svh;
    right: -10svw;
    transform-origin: top right;
    transform: rotate(5deg);

    animation: branchWindDown 4s ease-in-out alternate infinite;
}

@keyframes branchWindDown{
    0%{
        transform: rotate(5deg);
    }100%{
        transform: rotate(7deg);
    }
}

#lowerBranch {
    color-scheme: normal;
    object-fit: contain;
}

.flower{
    position: absolute;
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate(0deg);

    animation: flowerWind 4s ease-in-out alternate infinite;
}

@keyframes flowerWind {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(8deg);
    }
}

.leaf{
    position: absolute;
    transform-box: fill-box;
    transform: rotate(0deg);
    animation: leafWind 4s ease-in-out alternate infinite;
}

@keyframes leafWind {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(40deg);
    }
}

.bottomLeft{
    transform-origin: bottom left;
}

.bottomRight{
    transform-origin: bottom right;
}

.bottom{
    transform-origin: bottom center;
}

.left{
    transform-origin: left center;
}

.right{
    transform-origin: right center;
}

.top{
    transform-origin: top center;
}

.topLeft{
    transform-origin: top left;
}

.topRight{
    transform-origin: top right;
}

#bgrMultiply{
    width: 100svw;
    height: 100svh;
    position: absolute;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;

    background: black;
    mix-blend-mode: multiply;
    animation: bgrMultiplyOpacity 3s forwards cubic-bezier(.3,.01,.94,.62) 2s;
}

@keyframes bgrMultiplyOpacity {
    0%{
        opacity: 1; 
    }10%{
        opacity: 0.96;
    }80%{
        opacity: 0.96;
    }100%{
        opacity: 0.94;
    }
}

.baseOverlayWrapper{
    width: 100svw;
    height: 100svh;
    position: absolute;
    display: flex;
    z-index: 100;

    justify-content: center;
    align-content: center;
    transform-origin: bottom;

    
    will-change: opacity;
    opacity: 0;
    
    transform: scale(0);

    animation: showBgrOverlay 2s cubic-bezier(.71,-0.01,.68,.84) forwards 3.5s;
}

@keyframes showBgrOverlay {
    0%{
        opacity: 0;
        transform: scale(0);
    }50%{
        opacity: 0.1;
    }100%{
        opacity: 1;
        transform: scale(1);
    }
}

.bgrOverlay{
    width: 95svw;
    height: 95svh;
    position: absolute;
    bottom: 0%;
    transform-origin: bottom;
    mix-blend-mode: overlay;
    animation: pulseOverlay 2s cubic-bezier(.18,.35,.46,1) alternate infinite /*+5.5s*/;
    transform: scale(1);
}

@keyframes pulseOverlay {
    0%{
        transform: scale(1);
    }100%{
        transform: scale(1.07);
    }
}

#overlay1{
    clip-path: polygon(0 0%, 100% 0%, 100% 90%, 82% 100%, 18% 100%, 0% 90%);
    background-image: radial-gradient(100% 140% at 50% 70%, rgb(255, 255, 255) -10%, transparent 50%);
    animation-delay: 5s;
    z-index: 100;
}

#overlay2{
    clip-path: polygon(0 0, 100% 0, 100% 83%, 78% 100%, 23% 100%, 0% 83%);
    background-image: radial-gradient(90% 110% at 50% 80%, rgb(255, 255, 255) 20%, transparent 50%);
    animation-delay: 5.3s;
    z-index: 200;
}

#overlay3{
    clip-path: polygon(0 0, 100% 0, 100% 70%, 75% 100%, 26% 100%, 0% 70%);
    background-image: radial-gradient(85% 100% at 50% 90%, rgb(255, 255, 255) 20%, transparent 50%);
    animation-delay: 5.5s;
    z-index: 0;
}

.baseSparkWrapper{
    width: 100svw;
    height: 50svh;
    position: absolute;
    background-color: pink;
}