*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: inherit;
}

:root{
    --deep-red: #510414;
    --bright-red: #990E0E;
    --shadow-red: #35010c;
    --soft-gold: #D5B88F;
    --soft-grey: #F0F0F0;
    --pure-white: #FFFFFF;
    --medium-black: #070707;
}

html{
    color-scheme: dark light;
    background-color: var(--medium-black); /* Don't change, keep values to maintain dark ui*/
    hanging-punctuation: first last;
}

body{
    min-height: 100svh;
    max-width: 100svw;
}

#openingSection{
    width: 100svw;
    height: 115svh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    top: 0%;
    background-color: var(--pure-white);
    border: solid 2px red;

}

#openingSection::before{
    content: "";
    max-width: 100svw;
    max-height: 100svh;
    position: absolute;
    background-image: url(Assets/svg/backgroundTexture.svg);
    background-repeat: repeat;
    background-size: 50svw;
    opacity: 0.7;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#openingSection::after{
    content: "";
    max-width: 100svw;
    max-height: 100svh;
    position: absolute;
    background-image: radial-gradient(100% 66% at 50% 44%, transparent 40%, white 90%);;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#bgrArch{
    width: 100svw;
    height: 100svh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    overflow: hidden;
}

#bgrArch::before{
    content: "";
    width: 80svw;
    height: 94svh;
    position: absolute;
    justify-self: center;
    border-radius: 200px 200px 0px 0px;
    background-color: rgba(0, 0, 0, 0.15);
    bottom: 0%;
}

#bgrArch::after{
    content: "";
    width: 100svw;
    height: auto;
    position: relative;
    background-image: url(Assets/svg/archGraphic.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-left: 10svw; margin-right: 10svw; margin-top: 6svh;
    filter: brightness(2.2);
}

#bgrBranches{
    width: 100svw;
    height: 100svh;
    position: absolute;
    z-index: 100;
    overflow: hidden;
}

.branch{
    width: 85svw;
    height: auto;
    position: absolute;
    aspect-ratio: 1/1;
}

#upperBranch{
    top: 1svh;
    left: -6svw;
    transform-origin: bottom left;
    transform: rotate(0deg);

    animation: branchWindUp 5.5s ease-in-out alternate infinite;
}

@keyframes branchWindUp {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(1deg);
    }
}

#upperBranch > object{
    color-scheme: normal;
    object-fit: contain;
}

#lowerBranch{
    bottom: -5svh;
    right: -10svw;
    transform-origin: top right;
    transform: rotate(5deg);

    animation: branchWindDown 5.5s ease-in-out alternate infinite;
}

@keyframes branchWindDown{
    0%{
        transform: rotate(5deg);
    }100%{
        transform: rotate(6deg);
    }
}

#lowerBranch {
    color-scheme: normal;
    object-fit: contain;
}

.flower{
    position: absolute;
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate(0deg);

    animation: flowerWind 4s ease-in-out alternate infinite;
}

@keyframes flowerWind {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(8deg);
    }
}

.leaf{
    position: absolute;
    transform-box: fill-box;
    transform: rotate(0deg);
    animation: leafWind 4s ease-in-out alternate infinite;
    /*filter: invert(1);*/
}

@keyframes leafWind {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(30deg);
    }
}

.bottomLeft{
    transform-origin: bottom left;
}

.bottomRight{
    transform-origin: bottom right;
}

.bottom{
    transform-origin: bottom center;
}

.left{
    transform-origin: left center;
}

.right{
    transform-origin: right center;
}

.top{
    transform-origin: top center;
}

.topLeft{
    transform-origin: top left;
}

.topRight{
    transform-origin: top right;
}
