*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: inherit;
}

:root{
    --deep-red: #510414;
    --bright-red: #990E0E;
    --shadow-red: #35010c;
    --soft-gold: #D5B88F;
    --soft-grey: #F0F0F0;
    --pure-white: #FFFFFF;
    --medium-black: #070707;
}

html{
    color-scheme: dark light;
    background-color: var(--medium-black); /* Don't change, keep values to maintain dark ui*/
    hanging-punctuation: first last;
}

body{
    min-height: 100svh;
    max-width: 100svw;
}

#openingSection{
    width: 100svw;
    height: 115svh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    top: 0%;
    background-color: var(--pure-white);
    border: solid 2px red;

}

#openingSection::before{
    content: "";
    max-width: 100svw;
    max-height: 100svh;
    position: absolute;
    background-image: url(Assets/svg/backgroundTexture.svg);
    background-repeat: repeat;
    background-size: 50svw;
    opacity: 0.7;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#openingSection::after{
    content: "";
    max-width: 100svw;
    max-height: 100svh;
    position: absolute;
    background-image: radial-gradient(100% 66% at 50% 44%, transparent 40%, white 90%);;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#bgrArch{
    width: 100svw;
    height: 100svh;
    position: absolute;
    display: flex;
    overflow: hidden;
}

#bgrArch::before{
    content: "";
    width: 100svw;
    height: auto;
    position: relative;
    background-image: url(Assets/svg/archGraphic.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-left: 10svw; margin-right: 10svw; margin-top: 12svw;
    mix-blend-mode: multiply;
}