*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: inherit;
}

:root{
    --deep-red: #510414;
    --deep-red2: #3a030e;
    --bright-red: #990E0E;
    --shadow-red: #47000f;
    --soft-gold: #D5B88F;
    --soft-grey: #f2f2f2;
    --pure-white: #FFFFFF;
    --soft-white: #f4f4f4;
    --medium-black: #202020;
}

@font-face {
    font-family: zText;
    src: url(Assets/fonts/Radicalis.ttf);
}

@font-face {
    font-family: titleText;
    src: url(Assets/fonts/MightiestAutograph.ttf);
}

@font-face {
    font-family: specialText;
    src: url(Assets/fonts/GriffithsRegular.otf);
}

@font-face {
    font-family: normalText;
    src: url(Assets/fonts/sikandinarie.ttf);
}

html{
    color-scheme: dark light;
    background-color: var(--medium-black); /* Don't change, keep values to maintain dark ui*/
}

body{
    min-height: 100svh;
    max-width: 100svw;
}

/*Opening Section (Background of initial area)*/

#openingSection{
    width: 100svw;
    height: 115svh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    top: 0%;
    background-color: var(--pure-white);
}

#openingSection::before{
    content: "";
    max-width: 100svw;
    max-height: 115svh;
    position: absolute;
    background-image: url(Assets/svg/backgroundTexture.min.svg);
    background-repeat: repeat;
    background-size: 50svw;
    opacity: 0.6;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#openingSection::after{
    content: "";
    max-width: 100svw;
    max-height: 115svh;
    position: absolute;
    background-image: radial-gradient(100% 60% at 50% 44%, transparent 40%, white 100%);;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

/* Arch Components*/

.bgrArch{
    width: 100svw;
    height: 115svh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    overflow: hidden;
}

.bgrArch::after{
    content: "";
    width: 75svw;
    height: 109svh;
    position: absolute;
    bottom: 0%;
    border: solid 8px rgb(181, 181, 181);
    border-radius: 1000px 1000px 0px 0px;
}

.archShadow{
    width: 75svw;
    height: 109svh;
    position: absolute;
    z-index: 50;
    justify-self: center;
    border-radius: 1000px 1000px 0px 0px;
    background-color: rgba(0, 0, 0, 1);
    mask-image: linear-gradient(black 0%, black 60%, transparent 100%);
    opacity: 0.6;
    bottom: 0%;

    animation: ArchShadow 1s ease-out forwards 4s;
}

@keyframes ArchShadow {
    0%{
        opacity: 0.6;
    }
    100%{
        opacity: 0.4;
    }
}

.lightenArchShadow{
    opacity: 0.4;

    animation: lightenArch 0.5s forwards cubic-bezier(.3,.01,.94,.62) 5.2s;
}

@keyframes lightenArch {
    0%{
        opacity: 0.4; 
    }100%{
        opacity: 0.15;
    }
}

/* Wall Component*/

#wallEmblem{
    width: 45svw;
    height: auto;
    aspect-ratio: 1 / 1;
    position: absolute;
    z-index: -0;
    top: 15svh;
    background-image: url(Assets/svg/wallEmblem.svg);
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(0px -3px 0.5px rgba(0,0,0,0.2));
}

/* Background Branch Components*/

.bgrBranches{
    width: 100svw;
    height: 100svh;
    position: absolute;
    overflow: hidden;
}

.branchOne{
    z-index: 100;
}

.branchTwo{
    z-index: 100;
}

.branchTwoAnim{
    animation: branchTwoAnim 0.1s linear forwards 6.5s;
}

@keyframes branchTwoAnim {
    0%{
        z-index: 100;
    }100%{
        z-index: 200;
    }
}

.branch{
    width: 84svw;
    height: auto;
    position: absolute;
    aspect-ratio: 1/1;
}

/* Upper Branch Components*/

#upperBranch{
    top: 0svh;
    left: -6svw;
    transform-origin: bottom left;
    transform: rotate(0deg);

    animation: branchWindUp 4s ease-in-out alternate infinite;
}

@keyframes branchWindUp {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(2deg);
    }
}

#upperBranch > object{
    color-scheme: normal;
    object-fit: contain;
}

/* Lower Branch Components*/

#lowerBranch{
    bottom: -5svh;
    right: -10svw;
    transform-origin: top right;
    transform: rotate(5deg);

    animation: branchWindDown 4s ease-in-out alternate infinite;
}

@keyframes branchWindDown{
    0%{
        transform: rotate(5deg);
    }100%{
        transform: rotate(7deg);
    }
}

#lowerBranch > object{
    color-scheme: normal;
    object-fit: contain;
}

/* Flower and leafs Components*/

/*.flower{
    position: absolute;
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate(0deg);

    animation: flowerWind 4s ease-in-out alternate infinite;
}

@keyframes flowerWind {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(8deg);
    }
}*/

.leaf{
    position: absolute;
    transform-box: fill-box;
    transform: rotate(0deg);
    animation: leafWind 4s ease-in-out alternate infinite;
}

@keyframes leafWind {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(40deg);
    }
}

.bottomLeft{
    transform-origin: bottom left;
}

.bottomRight{
    transform-origin: bottom right;
}

.bottom{
    transform-origin: bottom center;
}

.left{
    transform-origin: left center;
}

.right{
    transform-origin: right center;
}

.top{
    transform-origin: top center;
}

.topLeft{
    transform-origin: top left;
}

.topRight{
    transform-origin: top right;
}

/* Initial Background Darkness Components*/

.bgrMultiply{
    width: 100svw;
    height: 100svh;
    position: absolute;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;

    background: black;
    mix-blend-mode: multiply;
    animation: bgrMultiplyOpacity 3s forwards cubic-bezier(.3,.01,.94,.62) 2s;
}

@keyframes bgrMultiplyOpacity {
    0%{
        opacity: 1; 
    }10%{
        opacity: 0.96;
    }80%{
        opacity: 0.96;
    }100%{
        opacity: 0.94;
    }
}

.closeBgrMultiply{
    opacity: 0.94;
    animation: closeMultiplyOpacity 0.5s forwards cubic-bezier(.3,.01,.94,.62) 5.2s;
}

@keyframes closeMultiplyOpacity {
    0%{
        opacity: 0.94; 
    }100%{
        opacity: 0;
    }
}

/* Initial Text Components*/

.initialTextWrapper{
    width: 100svw;
    height: 100svh;
    position: absolute;
    z-index: 150;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0)) drop-shadow(0px 0px 10px rgba(0, 0, 0));
    margin-top: 12%;

    animation: textIndex 0.2s linear forwards 30s;
}

@keyframes textIndex {
    0%{
        z-index: 150;
    }100%{
        z-index: -200;
    }
}


.ParagraphOne, .ParagraphTwo{
    width: 80svw;
    height: auto;
    aspect-ratio: 1 / 0.8;
    position: absolute;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ParagraphOne{
    animation: closeParagraph 0.5s ease-in forwards 16s;
}

.ParagraphTwo{
    animation: closeParagraph 0.5s ease-in forwards 28s;
}

@keyframes closeParagraph {
    0%{
        opacity: 1;
    }100%{
        opacity: 0;
    }
}

.lineBox{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.ph1, .ph2{
    width: 100%;
    mask-image: radial-gradient(85% 400% at 100% 50% , transparent 50%, black 55%);
    mask-repeat: no-repeat;
    mask-size: 230% 100%;
    mask-position: 100%;
}

.ph1Glow, .ph2Glow{
    width: 100%;
    mask-image: radial-gradient(15% 95% at 50% 50%, black 0%, transparent 60%);
    mask-repeat: no-repeat;
    mask-size: 200% 100%;
    mask-position: 130%;
    position: absolute;
}

.lineBox .ph1Glow, .lineBox .ph2Glow{
    filter: drop-shadow(0px 0px 5px rgb(255, 255, 255)) drop-shadow(0px 0px 5px rgb(255, 255, 255)) drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.6));
}

.initTxt1{
    font-family: specialText;
    font-size: 1.6rem;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.initTxt3{
    font-family: titleText;
    font-size: 4rem;
    text-align: center;
    vertical-align: middle;
    color: white;
    margin-bottom: -5%;
}

.lineMask{
    mask-image: radial-gradient(85% 400% at 100% 50% , transparent 50%, black 55%);
    mask-repeat: no-repeat;
    mask-size: 230% 100%;
    mask-position: 100%;
    animation: lineMaskMovement 3.2s linear forwards;
}

@keyframes lineMaskMovement {
    0%{
        mask-position: 100%;
    }100%{
        mask-position: 0%;
    }
}

.glowMask{
    mask-image: radial-gradient(15% 95% at 50% 50%, black 30%, transparent 60%);
    mask-repeat: no-repeat;
    mask-size: 200% 100%;
    mask-position: 130%;
    animation: glowMaskMovement 3.2s linear forwards;
}

@keyframes glowMaskMovement {
    0%{
        mask-position: 130%;
    }100%{
        mask-position: -30%;
    }
}

/* Overlay Components*/

.baseOverlayWrapper{
    width: 100svw;
    height: 100svh;
    position: absolute;
    display: flex;
    z-index: 100;

    justify-content: center;
    align-content: center;
    transform-origin: bottom;

    
    will-change: opacity;
    opacity: 0.1;
    transform: scale(0);
}

.baseOverlayAnim{
    animation: showBgrOverlay 2s cubic-bezier(.71,-0.01,.68,.84) forwards 3.45s;
}

@keyframes showBgrOverlay {
    0%{
        opacity: 0.1;
        transform: scale(0);
    }50%{
        opacity: 0.1;
    }100%{
        opacity: 1;
        transform: scale(1);
    }
}

.bgrOverlay{
    width: 95svw;
    height: 95svh;
    position: absolute;
    bottom: 0%;
    transform-origin: bottom;
    mix-blend-mode: overlay;
}

@keyframes pulseOverlay {
    0%{
        transform: scale(1);
    }100%{
        transform: scale(1.07);/* if reduced to 1.05 it doesn't flicker (added js to fix issue and prevent changing value*/
    }
}

#overlay1{
    clip-path: polygon(0 0%, 100% 0%, 100% 90%, 82% 100%, 18% 100%, 0% 90%);
    background-image: radial-gradient(100% 140% at 50% 70%, rgb(255, 255, 255) -10%, transparent 50%);
    z-index: 100;
}

#overlay2{
    clip-path: polygon(0 0, 100% 0, 100% 83%, 78% 100%, 23% 100%, 0% 83%);
    background-image: radial-gradient(90% 110% at 50% 80%, rgb(255, 255, 255) 20%, transparent 50%);
    z-index: 200;
}

#overlay3{
    clip-path: polygon(0 0, 100% 0, 100% 70%, 75% 100%, 26% 100%, 0% 70%);
    background-image: radial-gradient(85% 100% at 50% 90%, rgb(255, 255, 255) 20%, transparent 50%);
    z-index: 0;
}

/* Initial Background Sparks Components*/

.baseSparkWrapper{
    width: 100svw;
    height: 85svh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 100;
    overflow: hidden;
    top: 15svh;
    transform-origin: bottom;
    mask-image: radial-gradient(95% 80% at 50% 60%, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0.1) 50%, transparent 60%);
}

.bgrTopOverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: radial-gradient(70% 45% at 50% 100%, rgb(255, 255, 255) 20%, rgba(255, 255, 255, 0.7) 25%, transparent 60%);
    transform-origin: bottom;
    opacity: 0;
    transform: scale(0);
}

.topOverlayAnim{
    animation: showTopOverlay 2s forwards cubic-bezier(.71,-0.01,.68,.84) 3.5s;
}

@keyframes showTopOverlay {
    0%{
        opacity: 0;
        transform: scale(0);
    }50%{
        opacity: 0.1;
    }100%{
        opacity: 1;
        transform: scale(1);
    }
}

.endOverlayAnim{
    animation: endOverlayAnim 0.5s forwards cubic-bezier(.3,.01,.94,.62) 5.2s;
    animation-composition: replace;
    transform: scale(1);
    opacity: 1;
}

@keyframes endOverlayAnim {
    0%{
        opacity: 1;
    }99%{
        opacity: 0;
    }100%{
        opacity: 0;
        display: none;
    }
}

.sparkWrapper{
    width: 100%;
    height: 100%;
    position: absolute;
}

.endSpark{
    animation: endSpark 1.5s ease-out forwards 1.5s;
}

@keyframes endSpark {
    0%{
        opacity: 1;
        scale: 1;
    }100%{
        opacity: 0;
        scale: 1.05;
    }
}

/* Spark Group Components*/

.sparkGrpStart{
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: start;
    transform: translateY(100svh);
    will-change: transform;
}


.startSparkAnimOne{
    animation: sparkMovement 15s linear forwards infinite 3s;
}

.sparkGrpMiddle{
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: start;
    transform: translateY(100svh);
    will-change: transform;
}

.startSparkAnimTwo{
    animation: sparkMovement 15s linear forwards infinite 8s;
}

.sparkGrpEnd{
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: start;
    transform: translateY(100svh);
    will-change: transform;
}

.startSparkAnimThree{
    animation: sparkMovement 15s linear forwards infinite 11.75s;
}

@keyframes sparkMovement {
    0%{
        transform: translateY(100svh);
    }100%{
        transform: translateY(-24svh);
    }
}

.sparkBox{
    width: 70%;
    filter: drop-shadow(0px 0px 7px white);
}

.spark{
    fill: white;
    position: absolute;
    z-index: 300;
    transform-box: content-box;
    transform-origin: center;

    animation: rotateStar 10s linear forwards infinite 1.5s;
}


@keyframes rotateStar {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}

/* Letter properties*/

.letterWrapper{
    width: 100svw;
    height: 115svh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 100;
    overflow: hidden;
    opacity: 1;
}

.letterBox{
    width: 45%;
    height: auto;
    position: absolute;
    bottom: 15svh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    aspect-ratio: 1 / 1.2;
    transform: translateY(8%) scale(0.1) rotateY(-180deg);
    will-change: transform;
    transform-style: preserve-3d;
    transform-origin: bottom;
    animation-composition: replace, replace, add;

    /*after 28s start these animations*/
    animation: 
        letterEntry 6s cubic-bezier(.33,1.08,.84,1.08) forwards 25.5s,
        letterBob 5.5s linear infinite 31.5s,
        letterPulse 5.5s cubic-bezier(.33,1.08,.84,1)  infinite 31.5s
    ; 
}

@keyframes letterBob {
    0%{
        transform: translateY(-140%);
    }10%{
        transform: translateY(-139%);
    }30%{
        transform: translateY(-141%);
    }50%{
        transform: translateY(-139%);
    }70%{
        transform: translateY(-141%);
    }90%{
        transform: translateY(-141%);
    }100%{
        transform: translateY(-140%);
    }
}

@keyframes letterEntry {
    0%{
        transform: translateY(8%) scale(0.1) rotateY(-180deg);

    }30%{
        transform: translateY(-50%) scale(0.4) rotateY(0deg);

    }40%{
        transform: translateY(-45%) scale(0.39) rotateY(0deg);
    
    }100%{
        transform: translateY(-140%) scale(1) rotateY(360deg);
    }
}

@keyframes letterPulse {
    0%{
         transform: scale(1) rotateY(360deg);
    }65%{
         transform: scale(1) rotateY(360deg);
    }80%{
         transform: scale(1.05) rotateY(360deg);
    }85%{
         transform: scale(1.05) rotateY(360deg);
    }100%{
         transform: scale(1) rotateY(360deg);
    }
}

.letterGlowBox{
    width: 99%;
    height: auto;
    position: absolute;
    z-index: 100;
    aspect-ratio: 1 / 0.6;
    transform-style: preserve-3d;
    transform-origin: center;
    opacity: 1;
}

.letterGlow{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: center;
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
}

.letterGlowAnim{
    animation: letterGlow 5.5s cubic-bezier(.33,1.08,.84,1)  infinite 31.5s; 
    animation-direction: normal;
}

@keyframes letterGlow {
    0%{
         box-shadow: 0px 0px 0px white;
    }65%{
         box-shadow: 0px 0px 0px white;
    }80%{
         box-shadow: 0px 0px 40px white;
    }82%{
         box-shadow: 0px 0px 40px white;
    }100%{
         box-shadow: 0px 0px 0px white;
    }
}

.stopLetterGlow{
    animation: stopLetterGlow 1s ease-out  forwards;
    opacity: 1;
}

@keyframes stopLetterGlow {
    0%{
        opacity: 1;
        display: block;
    }100%{
        opacity: 0;
        display: none;
    }
}

/* Letter body properties*/

.letterBody{
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    aspect-ratio: 1 / 0.6;
    transform-style: preserve-3d;
    transform-origin: center;
}   

.letterBody::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: radial-gradient(ellipse at top, var(--bright-red) 30%, var(--deep-red) 75%);
    border-radius: 0px 0px 10px 10px;

    transform: rotateY(180deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.letterBody::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--deep-red2);
    border-radius: 0px 0px 10px 10px;

    transform-style: preserve-3d;
    backface-visibility: hidden;
}

/* Letter card properties*/

.letterCard{
    width: 90%;
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 700;
    aspect-ratio: 1 / 0.6;
    background-color: var(--pure-white);
    border-radius: 4%;
    margin-bottom: 2%;
    filter: drop-shadow(0px 0px 0px rgb(177, 177, 177));
    transform: translateY(0svh);
    transform-style: preserve-3d;
    backface-visibility: hidden;

}

.cardMovement{
    animation: openCard 2s ease forwards 2.5s,
    cardReposition 1.5s ease-in-out forwards 6s;
}

@keyframes openCard {
    0%{ 
        filter: drop-shadow(0px 0px 0px rgb(177, 177, 177));
        transform: translateY(0svh);
        z-index: 700;
    }20%{
        filter: drop-shadow(0px 0px 0px rgb(177, 177, 177));
        transform: translateY(-3svh);
        z-index: 700;
    }50%{
        filter: drop-shadow(0px 0px 0px rgb(177, 177, 177));
        transform: translateY(0svh);
        z-index: 700;
    }100%{
        filter: drop-shadow(0px 0px 0px rgb(177, 177, 177));
        transform: translateY(-35svh);
        z-index: 900;
    }
}

@keyframes cardReposition {
    0%{
        transform: translateY(-35svh) scale(1, 1);
        filter: drop-shadow(0px 0px 0px rgb(177, 177, 177));
        z-index: 900;
    }70%{
        filter: drop-shadow(0px 0px 0px rgb(177, 177, 177));
        z-index: 900;
    }100%{
        transform: translateY(52svh) scale(2, 2.1);
        filter: drop-shadow(0px -10px 5px rgb(177, 177, 177));
        z-index: 900;
    }
}

.letterCardGlow{
    width: 100%;
    height: auto;
    position: absolute;
    aspect-ratio: 1 / 1;
    background: radial-gradient(circle at center, white 10%, transparent 70%);
    opacity: 1;
    will-change: transform;
    transform: scale(0);
}

.screenGlowAnim{
    animation: screenGlow 3s ease forwards 4s;
}

@keyframes screenGlow {
    0%{
        transform: scale(0);
        opacity: 1;
    }50%{
        transform: scale(25);
        opacity: 1;
    }51%{
        transform: scale(25);
        opacity: 1;
    }100%{
        transform: scale(0);
        opacity: 0;
    }
}

/* Inner letter properties*/

.letterComponents{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 800;
    aspect-ratio: 1 / 0.6;
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;

    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.innerLetterLeft{
    width: 100%;
    height: 100%;
    display: grid;
    grid-column-start: 1; grid-column-end: 2;
    grid-row-start: 1; grid-row-end: 4;
    filter: drop-shadow(0px -4px 1.5px #47000fc1);
}

.innerLetterLeft::before{
    content: "";
    width: 100%;
    height: 100%;
    background-image: radial-gradient(ellipse at top right, var(--bright-red) 30%, var(--deep-red) 75%);
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.innerLetterRight{
    width: 100%;
    height: 100%;
    display: grid;
    grid-column-start: 3; grid-column-end: 4;
    grid-row-start: 1; grid-row-end: 4;
    filter: drop-shadow(0px -4px 1.5px #47000fc1);
}

.innerLetterRight::before{
    content: "";
    width: 100%;
    height: 100%;
    background-image: radial-gradient(ellipse at top left, var(--bright-red) 30%, var(--deep-red) 75%);
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
}

.innerLetterBottom{
    width: 100%;
    height: 100%;
    display: grid;
    grid-column-start: 1; grid-column-end: 4;
    grid-row-start: 2; grid-row-end: 4;
    filter: drop-shadow(0px -4px 1px #47000fc1);
}

.innerLetterBottom::before{
    content: "";
    width: 100%;
    height: 100%;
    background-image: radial-gradient(ellipse at top center, var(--bright-red) 30%, var(--deep-red) 75%);
    clip-path: polygon(0% 100%, 46% 3%, 47% 2% , 47.5% 1.5% ,48% 1% , 49% 0.5%, 50% 0.3%, 51% 0.5%,  52% 1%, 52.5% 1.5%, 53% 2%, 54% 3%, 100% 100%);
}

/* Letter lid properties*/

.letterLidBox{
    width: 100%;
    height: auto;
    aspect-ratio: 1/0.6;
    position: absolute;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 0.2fr 1fr;

    align-items: center;
    justify-content: center;
    backface-visibility: hidden;

}

.letterLid{
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    grid-column-start: 1; grid-column-end: 4;
    grid-row-start: 1; grid-row-end: 3;
    z-index: 900;

    transform: rotateX(0deg);
    transform-style: preserve-3d;
    transform-origin: top;
    will-change: transform;
}

.openLid{
    animation: 
    openLidMovement 2s cubic-bezier(.2,.88,.68,1.14) forwards 1s,
    lidIndex 2s cubic-bezier(.2,.88,.68,1.14) forwards 1s;
    animation-composition: replace, replace;
}

@keyframes openLidMovement {
    0%{
        transform: rotateX(0deg);
    }100%{
        transform: rotateX(180deg);
    }
}

@keyframes lidIndex {
    0%{
        z-index: 900;
    }49.9%{
        z-index: 900;
    }50%{
        z-index: 600;
    }100%{
        z-index: 600;
    }
}

.letterLid::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    grid-column-start: 1; grid-column-end: 4;
    grid-row-start: 1; grid-row-end: 3;
    
    background-image: radial-gradient(ellipse at top center, var(--bright-red) 30%, var(--deep-red) 75%);
    clip-path: polygon(0% 0%, 0% 20%, 46% 97%, 47% 98% , 47.5% 98.5% ,48% 99% , 49% 99.5%, 50% 99.7%, 51% 99.5%,  52% 99%, 52.5% 98.5%, 53% 98%, 54% 97%, 100% 20%, 100% 0%);
    
    transform-origin: center;
    backface-visibility: hidden;
}

.letterLidShadow{
    width: 100%;
    height: 100%;
    position: absolute;
    filter: drop-shadow(0px 4px 1px var(--shadow-red));
}

.removeLidShadow{
    animation: removeLidShadow 2s cubic-bezier(.2,.88,.68,1.14) forwards 1s;
}

@keyframes removeLidShadow {
    0%{
        filter: drop-shadow(0px 4px 1px var(--shadow-red));
    }50%{
        filter: drop-shadow(0px -4px 1px var(--deep-red2));
    }100%{
        filter: drop-shadow(0px -4px 1px var(--deep-red2));
    }
}

.letterLidShadow::before{
    content: "";    
    width: 100%;
    height: 100%;
    display: grid;
    background-color: var(--deep-red2);
    clip-path: polygon(0% 0%, 0% 20%, 46% 97%, 47% 98% , 47.5% 98.5% ,48% 99% , 49% 99.5%, 50% 99.7%, 51% 99.5%,  52% 99%, 52.5% 98.5%, 53% 98%, 54% 97%, 100% 20%, 100% 0%);
}

/* LetterBranch properties*/

.letterBranchBox{
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    aspect-ratio: 1 / 0.6;

    transform-style: preserve-3d;
    
}

.letterBranch{
    width: auto;
    height: 95%;
    transform-origin: center;
    transform: rotate(18deg) translate( 13%, 0%);

    backface-visibility: hidden;
}

/* Letter seal properties*/

.letterSealBox{
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    aspect-ratio: 1 / 0.6;
    /*border: 3px dotted fuchsia;*/
    filter: drop-shadow(0px -1px 1px #47000fc1);

    transform-style: preserve-3d;
    backface-visibility: hidden;

}

.sealDropsBox{
    width: 100%;
    height: 100%;
    position: absolute;
    /*border: 3px dotted rgb(0, 255, 106);*/
}

.sealDrop{
    height: auto;
    position: absolute;
    aspect-ratio: 1 / 1;
    background: 
    radial-gradient(30% 30% at 70% 70%, rgba(255, 247, 208, 0.689) 0%, transparent 70%),
    radial-gradient(circle at  10% 20%, #bc7e33 30%, #d9cb8b 90%);
    border-radius: 100%;
}

#drop1{
    width: 16%;
    top: -2%;
    left: -3%;
}

#drop2{
    width: 13%;
    bottom: -0%;
    left: -3%;
}

#drop3{
    width: 9%;
    right: -12%;
    top: 66%;
}

.sealBody{
    width: 20%;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    aspect-ratio: 1 / 1;
    background: linear-gradient(#BF6C25 20%, #EDDE9A 40%, #EDDE9A 60%, #BF6C25 80%);
    border-radius: 100%;

}

.openSeal{
    animation: openSeal 0.2s cubic-bezier(.64,-0.01,.68,.96) forwards 0.2s;
}

@keyframes openSeal {
    0%{
        opacity: 1;
        scale: 1;

    }100%{
        opacity: 0;
        scale: 1.02;
    }
}

.sealRidge{
    width: 92%;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    background: linear-gradient(45deg, #BF6C25 20%, #f3e39b 40%, #f3e39b 55%, #BF6C25 80%);
    border-radius: 100%;
}

.sealRidge::before{
    content: "";
    width: 95%;
    height: auto;
    position: absolute;
    aspect-ratio: 1 / 1;
    background: linear-gradient(45deg, #cc7f3c 15%, #7b471a 35%, #7b471a 60%, #BF6C25 85%);
    border-radius: 100%;
}

.sealRidgeOuter{
    width: 90%;
    height: auto;
    position: absolute;
    aspect-ratio: 1 / 1;
    background: radial-gradient(circle at center, transparent 55%, rgb(60, 20, 0)), linear-gradient(#b47323 30%, #ebdc98 90%);
    border-radius: 100%;
}

.sealEmblem{
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}

.sealEmblem::before{
    content: "";
    width: 85%;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    background: url(Assets/svg/weddingMonogramColor.svg);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 100%;
}

.sealSparkBox{
    width: auto;
    height: 100%;
    position: absolute;
    display: flex;
    top: 15%;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;

}

.sealSparkBgrGlow{
    width: 200%;
    height: auto;
    position: absolute;
    aspect-ratio: 1/1;
    background: radial-gradient(circle at center, #f9c128 -10%, #fbaa13af 15%, #fbbd1323 55%, transparent 70%);
    background-blend-mode: lighten;
    opacity: 0;
    will-change: transform;
}

.sealSpark{
    content: "";
    width: 15%;
    height: auto;
    aspect-ratio: 1 / 1;
    position: absolute;
       background: radial-gradient(circle at center, #ffefa8 0%, #e5a628 50%);
    clip-path: polygon(50% 0, 62% 35%, 100% 50%, 62% 65%, 50% 100%, 38% 65%, 0 50%, 38% 35%);
    opacity: 0;
    transform-origin: center;
    will-change: transform;
}

#sealSpark1{
    transform: translate(0%, -550%) rotate(270deg);
}

#sealSpark2{
    transform: translate(550%, -150%) rotate(270deg);
}

#sealSpark3{
    transform: translate(350%, 400%) rotate(270deg);
}

#sealSpark4{
    transform: translate(-350%, 400%) rotate(270deg);
}

#sealSpark5{
     transform: translate(-550%, -150%) rotate(270deg);
}

.SealSparkGlowShow{
    animation: sealSparkGlowMovement 1.3s cubic-bezier(.32,1.15,.78,1.15) forwards;
}

@keyframes sealSparkGlowMovement {
    0%{
        scale: 0;
        opacity: 0;
    }70%{
        opacity: 1;
    }100%{
        scale: 1;
        opacity: 0;
    }
}

.SealSparkShow{
    animation: sealSparkMovement 1.3s cubic-bezier(.32,1.15,.78,1.15) forwards 0.2s;
}

@keyframes sealSparkMovement {
    0%{
        transform: translate(0%, 0%) rotate(0deg);
        opacity: 0;
    }30%{
        opacity: 1;
    }60%{
        opacity: 1;
    }80%{
        opacity: 0;
    }100%{
        opacity: 0;
    }
}

.bottomArrowBox{
    width: 18%;
    height: auto;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -100;
    opacity: 0;
}

.arrowBobAnim{
    animation: arrowBob 3s linear infinite 8s;
}

@keyframes arrowBob {
    0%{
        transform: translateY(0svh);
        opacity: 0;
    }5%{
        opacity: 0;
    }40%{
        opacity: 1;
    }45%{
        opacity: 1;
    }50%{
        transform: translateY(8svh);
        opacity: 0;
    }100%{
        transform: translateY(8svh);
        opacity: 0;
    }
}

.downArrowSvg{
    fill: var(--pure-white);
}

/*font value Components*/

.normalText{
    color: var(--medium-black);
    font-family: normalText;
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: 0.05rem;
    font-weight: bold;
}

.normalTextCursive{
    color: var(--medium-black);
    font-family: titleText;
    font-size: 3rem;
    text-align: center;
}

/*First Section Components*/

#firstSection{
    width: 100svw;
    height: 60svh;
    position: absolute;
    z-index: 300;
    top: 115svh;
    display: grid;
    background-color: var(--pure-white);
    border: solid 2px white;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
}

.textBlock.fs1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -13svh;
    grid-column-start: 1; grid-column-end: 3;
    grid-row-start: 1; grid-row-end: 2;
    text-align: center;
}

.fs1 > .normalTextCursive{
    color: var(--soft-gold);
}

.firstSectionBox{
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    overflow-x: hidden;
    padding-top: 5%;

    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1fr;

    grid-column-start: 1; grid-column-end: 3;
    grid-row-start: 1; grid-row-end: 3;
}

.parentNamesBox{
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    padding-left: 3%; padding-right: 3%;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-rows: 1fr 1fr 0.6fr 1fr 2fr 1fr 0.6fr 1fr 1fr;

    grid-column-start: 1; grid-column-end: 2;
    grid-row-start: 1; grid-row-end: 2;
}

#fatherText1{
    grid-column-start: 1; grid-column-end: 2;
    grid-row-start: 2; grid-row-end: 3;
}

#motherText1{
    grid-column-start: 1; grid-column-end: 2;
    grid-row-start: 4; grid-row-end: 5;
}

#fatherText2{
    grid-column-start: 1; grid-column-end: 2;
    grid-row-start: 6; grid-row-end: 7;
}

#motherText2{
    grid-column-start: 1; grid-column-end: 2;
    grid-row-start: 8; grid-row-end: 9;
}

.textDivider{
    display: flex;
    justify-content:center;
    align-items: center;
    letter-spacing: -0.2rem;
    font-size: 0.7rem;
    color: var(--soft-gold);
}

.textDivider span{
    margin-left: 5%; margin-right: 5%;
}

.textDivider::before, .textDivider::after{
    content: "";
    width: 30%;
    height: 5%;
    margin-bottom: 2%;
    background-color: var(--soft-gold);
}

.textDiv1{
    grid-column-start: 1; grid-column-end: 2;
    grid-row-start: 3; grid-row-end: 4;
}

.textDiv2{
    grid-column-start: 1; grid-column-end: 2;
    grid-row-start: 7; grid-row-end: 8;
}

.partnerImgSection1{
    width: 150%;
    height: 100%;
    position: absolute;
    display: grid;

    grid-column-start: 2; grid-column-end: 3;
    grid-row-start: 1; grid-row-end: 2;
}

.partnerImgSectionBgr1{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    mask-image: radial-gradient(58% 58% at 30% 55%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 90%);
    mask-position: left;
}

.partnerImgSectionBgr1::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 1500px 1500px 0px 0px;
    background-color: rgb(228, 228, 228);
}

.partnerImgSectionBgr1::after{
    content: "";
    width: 92%;
    height: 94%;
    position: absolute;
    border-radius: 1500px 1500px 0px 0px;
    background-image: url(Assets/svg/backgroundTexture.min.svg);
    background-repeat: repeat;
    background-size: 50svw;
    opacity: 0.4;
    box-shadow: inset 0px 0px 25px rgb(0, 0, 0);
    mix-blend-mode: normal;
}

.decorativeMouldingBox1{
    width: 150%;
    height: 10%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    grid-column-start: 2; grid-column-end: 3;
    grid-row-start: 1; grid-row-end: 2;
    bottom: 0%;
}

.decorativeMouldingPart1{
    width: 110%;
    height: 15%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px rgb(170, 170, 170);
    z-index: 200;
}

.decorativeMouldingPart2{
    width: 105%;
    height: 12%;
    position: relative;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px rgb(170, 170, 170);
    z-index: 100;
}

.decorativeMouldingPart3{
    width: 100%;
    height: 30%;
    position: relative;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px rgb(170, 170, 170);
}

.decorativeMouldingPart4{
    width: 105%;
    height: 12%;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px rgb(170, 170, 170);
    z-index: 200;
    
}

.decorativeMouldingPart5{
    width: 95%;
    height: 10%;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px rgb(170, 170, 170);
}

/* Section two components*/

#secondSection{
    width: 100svw;
    height: 90svh;
    position: absolute;
    z-index: 300;
    top: 174.5svh;
    display: grid;
    background-color: var(--pure-white);
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0.4fr 6fr;
}

.secondSectionBox{
    width: 100%;
    height: 100%;
    display: grid;
    position: absolute;

    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 1fr 0.5fr 0.2fr;

    grid-column-start: 1; grid-column-end: 2;
    grid-row-start: 3; grid-row-end: 4;
}

.partnerImgSection2BgrBox{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    position: absolute;
    overflow: hidden;

    grid-template-columns: 0.2fr 0.1fr 1fr 0.1fr 0.2fr;
    grid-template-rows: 1fr;

    grid-column-start: 1; grid-column-end: 4;
    grid-row-start: 1; grid-row-end: 4;

    mask-image: radial-gradient(50% 50% at 20% 40%, rgba(0, 0, 0, 0.057) 0%, rgb(0, 0, 0) 100%), radial-gradient(50% 50% at 80% 80%, rgba(0, 0, 0, 0.064) 0%, rgb(0, 0, 0) 100%) ;
    mask-composite: intersect;
}

.partnerImgSection2{
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: flex-end;
    justify-items: center;
    display: grid;
    background-color: rgb(228, 228, 228);
    
}

.partnerImgSection2::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    background-image: url(Assets/svg/backgroundTexture.min.svg);
    background-repeat: repeat;
    background-size: 50svw;
    opacity: 0.4;
    box-shadow: inset 0px 0px 15px rgb(0, 0, 0);
}

.Bgr1{
    width: 250%;
    height: 95%;
    position: absolute;
    right: 0%; bottom: 0%;
    grid-column-start: 1; grid-column-end: 2;
    grid-row-start: 1; grid-row-end: 4;
    border-radius: 0px 1500px 0px 0px;
}

.Bgr1::before{
    border-radius: 0px 1500px 0px 0px;
}

.Bgr2{
    width: 100%;
    height: 100%;
    position: absolute;
    grid-column-start: 3; grid-column-end: 4;
    grid-row-start: 1; grid-row-end: 4;
    border-radius: 1500px 1500px 0px 0px;

}

.Bgr2::before{
    width: 92%;
    height: 98%;
    border-radius: 1500px 1500px 0px 0px;
}

.Bgr3{
    width: 250%;
    height: 95%;
    position: absolute;
    left: 0%; bottom: 0%;
    grid-column-start: 5; grid-column-end: 6;
    grid-row-start: 1; grid-row-end: 4;
    border-radius: 1500px 0px 0px 0px;
}

.Bgr3::before{
    border-radius: 1500px 0px 0px 0px;
}

.partnerNamesBox{
    width: 100%;
    height: 100%;
    display: grid;
    position: absolute;
    align-items: center;
    justify-items: center;
    grid-column-start: 1; grid-column-end: 4;
    grid-row-start: 2; grid-row-end: 3;
    z-index: 200;

    grid-template-columns: 0.06fr 1fr 0.06fr;
    grid-template-rows: 1fr 0.35fr 0.35fr;
}

.partnerNameTextComposite1{
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-start: 2; grid-column-end: 3;
    grid-row-start: 1; grid-row-end: 2;
}

#partnerNameText1{
    width: 100%;
    height: 100%;
    display: grid;
    grid-column-start: 1; grid-column-end: 5;
    grid-row-start: 2; grid-row-end: 3;
    align-items: flex-end;
    line-height: 60%;
}

#partnerNameText2{
    display: grid;
    position:absolute;
    align-self: flex-end;
    justify-self: end;
    grid-column-start: 1; grid-column-end: 2;
    grid-row-start: 1; grid-row-end: 2;
    font-size: 5.3rem;
    line-height: 20%
}

#partnerNameText3{
    display: grid;
    position: absolute;
    align-self: flex-end;
    justify-self: end;
    grid-column-start: 1; grid-column-end: 2;
    grid-row-start: 2; grid-row-end: 3;
    margin-right: 3%;
    margin-bottom: 3%;
    font-size: 3.5rem;
    color: var(--soft-gold);
    line-height: 50%;
}

#partnerNameText4{
    display: grid;
    position: absolute;
    align-self: flex-end;
    justify-self: start;
    grid-column-start: 2; grid-column-end: 3;
    grid-row-start: 2; grid-row-end: 3;
    font-size: 5rem;
    line-height: 40%
}

.partnerNameTextComposite2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    grid-column-start: 1; grid-column-end: 5;
    grid-row-start: 3; grid-row-end: 4;
}

#partnerNameText5{
    display: grid;
    bottom: 0%;
    line-height: 50%;
    margin-right: 2%;
}

#partnerNameText6{
    display: grid;
    bottom: 0%;
    line-height: 20%;
    margin-left: 2%;
}

.decorativeMouldingBox2{
    width: 150%;
    height: 10%;
    position: absolute;
    top: 20%;
    right: -40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    grid-column-start: 2; grid-column-end: 3;
    grid-row-start: 1; grid-row-end: 2;
}

.decorativeMouldingBox3{
    width: 150%;
    height: 10%;
    position: absolute;
    top: 20%;
    left: -40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    grid-column-start: 4; grid-column-end: 5;
    grid-row-start: 1; grid-row-end: 2;
}

.decorativeMouldingBox2 > .decorativeMouldingPart1, .decorativeMouldingBox3 > .decorativeMouldingPart1{
    width: 170%;
    height: 8%;
}

.decorativeMouldingBox2 > .decorativeMouldingPart2, .decorativeMouldingBox3 > .decorativeMouldingPart2{
    width: 140%;
}

.decorativeMouldingBox2 > .decorativeMouldingPart3, .decorativeMouldingBox3 > .decorativeMouldingPart3{
    width: 110%;
}

.decorativeMouldingBox2 > .decorativeMouldingPart4, .decorativeMouldingBox3 > .decorativeMouldingPart4{
    width: 140%;
    height: 8%;
}

.decorativeMouldingBox2 > .decorativeMouldingPart5, .decorativeMouldingBox3 > .decorativeMouldingPart5{
    width: 160%;
    height: 8%;
    z-index: 200;
}

.thirdSection{
    width: 100svw;
    height: 100svh;
    position: absolute;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 4fr;
    background-color: var(--pure-white);
    top: 264svh;
}

.decorativeMouldingBox4{
    width: 100%;
    height: 15%;
    position: absolute;
    display: grid;
    align-self: flex-start;
    justify-self: center;
    grid-row-start: 1; grid-row-end: 2;
    background-color: var(--pure-white);
    box-shadow: 0px 5px 10px rgb(217, 217, 217);
}

.clockWrapper{
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 300;
    top: 20%;

    grid-row-start: 1; grid-row-end: 2;
    background: linear-gradient(var(--soft-grey) 30%, var(--pure-white) 80%);
    border-radius: 100%;
    box-shadow: 0px 10px 15px rgb(233, 233, 233);
}

.clockWrapperInner1{
    width: 96%;
    height: 96%;
    position: absolute;
    background: linear-gradient(var(--pure-white) 40%, var(--soft-grey) 70%);
    border-radius: 100%;
}

.clockWrapperInner2{
    width: 82%;
    height: 82%;
    position: absolute;
    background: rgb(220, 220, 220);
    border-radius: 100%;
}

.clockWrapperInner3{
    width: 79%;
    height: 79%;
    position: absolute;
    background: var(--pure-white);
    border-radius: 100%;
}

.clockWrapperInner4{
    width: 70%;
    height: 70%;
    position: absolute;
      background-image: repeating-conic-gradient(var(--pure-white) 10%, var(--pure-white) 14.6%, rgb(195, 195, 195) 14.6%, rgb(195, 195, 195) 15%);
    border: solid 1.5px rgb(195, 195, 195);
    border-radius: 100%;
}

.clockWrapperInner5{
    width: 50%;
    height: 50%;
    position: absolute;
    background: var(--pure-white);
    border-radius: 100%;
}

.clockWrapperInner6{
    width: 40%;
    height: 40%;
    position: absolute;
    background: var(--pure-white);
    border: solid 1.5px rgb(195, 195, 195);
    border-radius: 100%;
}